body {
    background-color: lightblue;
    background-image: linear-gradient(rgb(112, 221, 78), rgb(0, 255, 234),rgb(67, 122, 167));

    width: 65%;
    float:right;
    }
    
    .table {
        text-decoration: none;
        font-family: verdana;
        font-size: 1.2em;
        /* border: 2px solid black; */
        padding: 1%;

    }

    .event{
        padding: 2%;
        
    }
        #eventblurb {
        padding: 10px;
    }

    #logo{ 
        position:fixed; 
        top:0; 
        left:0; 
    } 

    h2 {
        font-family: "Lucida Console", Arial, Helvetica, sans-serif;
        color:#2f5496;
        font-size: 2em;
    }

    h3 {
        font-family: verdana;
        color:#2f5496;
        padding: 10px;
        font-size: 1.7em;
    }
    
    p {
        font-family: verdana;
        font-size: 1.2em;
        text-decoration: none;
        line-height: 1.5;
    }